.card-wrapper {
    background: #FFFFFF;
    width: 80%;
    padding: 40px 32px;
    //height: 90vh;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;

    @media (max-width:768px) {
        width: 100%;
        margin: 0;
    }

    footer {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0%;
        text-align: center;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 0%;
        text-decoration-skip-ink: auto;
        color: var(--text-black);

        >a {
            color: var(--primary-blue);
        }
    }
}