.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: start;

    .form-container {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .input-container {
            display: flex;
            flex-direction: column;
            gap: 15px;

            >label {
                color: var(--text-black);
                font-weight: 500;
                font-style: Medium;
                font-size: 15px;
                line-height: 100%;
                letter-spacing: 0%;
            }

            >input {
                width: 100%;
                height: 59px;
                padding: 19px 52px;
                border-radius: 17px;
                border: 1px solid var(--text-black);

                &:focus-visible {
                    outline: 1px solid var(--primary-blue);
                    border: none;
                }
            }
        }

        .password-container {
            position: relative;

            .password-wrapper {
                position: relative;

                >input {
                    width: 100%;
                    height: 59px;
                    padding: 19px 52px;
                    border-radius: 17px;
                    border: 1px solid var(--text-black);
                    transition: all 0.3s ease;

                    &:focus-visible {
                        outline: 1px solid var(--primary-blue);
                        border: none;
                    }
                }

                .toggle-eye {
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    color: var(--text-black);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: color 0.2s ease;

                    &:hover {
                        color: var(--primary-blue);
                    }
                }
            }
        }


        .checkbox {
            display: flex;
            gap: 10px;

            >span {
                font-size: 12px;
            }

            >input {
                width: 20px;
                height: 20px;
                padding: 5px;
            }
        }

        div.error-message {
            color: var(--error-red);
            font-size: 14px;
        }
    }
}