.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 69px;
    background: var(--primary-blue);
    box-shadow: #0000000F;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;

    ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;

        li {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 1;
            height: 100%;

            a {
                text-decoration: none;
                color: #ffffff;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 4px;
                height: 100%;
                padding-top: 6px;
                transition: all 0.3s ease;

                span {
                    font-size: 12px;
                    font-weight: 600;
                }
            }

            &.active {
                border-top: 3px solid #ffffff;
                a {
                    color: #ffffff;
                }
            }
        }
    }
}
