.bills{
    background: #FFFFFF;
    box-shadow: #0000000A;
    border-radius: 16px;
    // margin-top: 30px;
    .bills1{
        .textb{
            background: var(--primary-blue);
            padding: 10px;
            border-top-left-radius: 200px;
            border-top-right-radius: 200px;
            border-bottom-right-radius: 200px;
            width: 224px;
            text-align: center;
            >p{
                font-weight: 700;
                font-size: 16px;
                color: #FFFFFF;
            }
        }
        .billitem{
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .billitem1{
                display: flex;
                justify-content: space-between;
                .billi{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    .billimg{
                        background: #F7B5310D;
                        padding: 10px;
                    }
                    p{
                        font-size: 10px;
                        font-weight: 500;
                        color: var(--text-black);
                        &:nth-child(1){
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }
                }
                button{
                    padding: 5px 20px;
                    border-radius: 200px;
                    width: 92px;
                    height: 40px;
                    cursor: pointer;
                    font-size: 12px;
                    font-weight: 600;
                    border: none;
                    background: var(--primary-blue);
                    color: #FFFFFF;
                    
                }
                .view{
                        background: white;
                        border: 2px solid #F7B531;
                        color: #F7B531;
                }
            }
            .service{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 17px;
            }
        }
    }
}