.dashboard {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: #FAF8FF;
    padding: 1.5rem 1rem;
}
.bill {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
    background: #FAF8FF;
    padding: 1.5rem 1rem;
    .navtop{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
