/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./component/balance-card/globals.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.balance {
  background: #401DAD;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  color: #FFF;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.balance > div:first-child {
  display: flex;
  justify-content: space-between;
}
.balance > div:first-child > div:first-child {
  display: flex;
  flex-direction: column;
}
.balance > div:first-child > div:first-child > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.balance > div:first-child > div:first-child > div {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.balance > div:first-child > button {
  background: transparent;
  border: none;
  width: 30px;
  height: 30px;
}
.balance > div:first-child > button > img {
  width: 100%;
}
.balance > div:last-child {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}
.balance > div:last-child > a {
  width: 30%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  color: #FFF;
  font-weight: 700;
  font-size: 9.45px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./component/profile-bar/globals.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.profile-bar {
  width: 23%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: absolute;
  box-shadow: 8px 0 20px rgba(0, 0, 0, 0.1);
  right: 0;
}
@media (max-width: 900px) {
  .profile-bar {
    display: none;
  }
}
.profile-bar > div:first-child {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  margin-top: 30%;
}
.profile-bar > div:first-child > img {
  width: 60px;
  height: 30px;
}
.profile-bar > div:first-child > div {
  font-size: 24px;
}
.profile-bar > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
.profile-bar > div:nth-child(2) > img {
  width: 150px;
  height: 150px;
}
.profile-bar > div:nth-child(2) > div {
  text-align: center;
  font-size: 20px;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./app/(root)/(dashboard)/dashboard.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@media (max-width: 901px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
main .head-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 10px;
}
@media (min-width: 900px) {
  main .head-profile {
    display: none;
  }
}
main .head-profile > img {
  width: 70px;
  height: 30px;
}
main .head-profile > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
main .head-profile > div > p {
  font-size: 20px;
  font-weight: 600;
}
