/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./component/form-header/globals.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.form-header {
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  letter-spacing: -1.1%;
  vertical-align: middle;
  color: #401DAD;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./component/google/globals.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.google-button {
  width: 100%;
  height: 50px;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1.5px solid #000000;
  border-radius: 10px;
}
.google-button > div {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -1.1%;
  vertical-align: middle;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./component/Card-wrapper/globals.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.card-wrapper {
  width: 65%;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 900px) {
  .card-wrapper {
    width: 85%;
  }
}
.card-wrapper > header > div {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -1.1%;
  vertical-align: middle;
}
.card-wrapper > footer {
  display: flex;
  gap: 10px;
}
.card-wrapper > footer > span {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -1.1%;
  vertical-align: middle;
}
.card-wrapper > footer > a {
  font-family: Inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -1.1%;
  vertical-align: middle;
  text-decoration: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #F7B531;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./component/login-form/globals.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
form > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form > div > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
form > div > div > label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  vertical-align: middle;
}
form > div > div > input {
  width: 90%;
  height: 20px;
  border-radius: 16px;
  border-width: 1.5px;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;
  gap: 15px;
  border: 1.5px solid #401DAD;
}
@media (max-width: 900px) {
  form > div > div > input {
    width: 87%;
  }
}
form > div > div > small {
  color: #FF0000;
}
form > a {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -1.1%;
  text-align: start;
  text-decoration: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #F7B531;
}
form > button {
  width: 100%;
  height: 50px;
  gap: 15px;
  border: none;
  border-radius: 10px;
  gap: 10px;
  background: #401DAD;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  text-align: center;
  vertical-align: middle;
}

hr {
  margin-top: 20px;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./component/form-error/globals.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.form-error {
  background: rgba(255, 0, 0, 0.2941176471);
  width: 95%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  border-radius: 10px;
}
.form-error > div {
  font-size: 14px;
  color: #FF0000;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./component/form-success/globals.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.form-success {
  background: rgba(0, 255, 8, 0.4588235294);
  width: 95%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  border-radius: 10px;
}
.form-success > div {
  font-size: 14px;
  color: #00FF0A;
}
